/*-------------------------------------
#Description:      pw_core.css
#Version:          v1.0
#Author:           2010-12-3
#Recent:           2010-12-3
-------------------------------------*/
/*初始化结构*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,p,blockquote,th,td{margin: 0;padding: 0;}
ol,ul,li{list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
th{text-align: left;}
td,th,div{word-break:break-all;word-wrap:break-word;}
form{display:inline;}
*{outline:none}
img{border:0;}
/*模型补丁*/
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
/*清楚浮动*/
.cc{*zoom:1;}
.cc:after{content:'\20';display:block;height:0;clear:both;visibility: hidden;}
.c{clear:both;font:0px/0px Arial;overflow:hidden;height:0;width:0;}
/*通用样式*/
.b,b,strong{ font-weight:700;}
.w{white-space:nowrap;}
.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}
.fr{float:right;}
.fl{float:left;}
.pr{position:relative;}
.cp{cursor:pointer;}
.vt{vertical-align:top;}
.link_down span{padding:0 10px 0 0;background:url(icon/down.png) center right no-repeat; display:inline-block; cursor:pointer;}
/*通用字体*/
.f10,small,.small{font-size:10px;-webkit-text-size-adjust:none;}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.fn,.fn a{font-weight:normal}
/**/
html{ overflow-y:scroll; font-size:12px;}
.bgA{background:#f7fbff;}
/* span color*/
.s1{color:#ff0000;}
.s2{color:#ff6600;}
.s3{color:#008800;}
.s4{color:#014c90;}
.s5{color:#000;}
.s6{color:#666;}
.gray{color:#999;}
/*link*/
a{color:#0e6caa; text-decoration:none;}
/*提示信息*/
.tipsA,.tipsB{background:url(tips/tips.png) 999px 999px no-repeat;border:1px solid #7eb8e5;background-color:#eff8ff;color:#0c4b7b;}
.tipsA{ background-position:-200px 0;padding:10px 20px 10px 50px;font:14px/25px Arial;}
.tipsB{ background-position:-200px -300px; padding:5px 20px 5px 30px;line-height:18px;}
.successA,.successB{background-color:#eff9e5;border:1px solid #6ac20f;color:#008800;}
.confirmA,.confirmB{border:1px solid #e2a73f;background-color:#fff7e8;color:#ff6600;}
.errorA,.errorB{border:1px solid #fe5301;background-color:#ffe5d8;color:#902800;}
.successA{ background-position:-150px -50px;}
.successB{ background-position:-150px -350px;}
.confirmA{ background-position:-100px -100px;}
.confirmB{ background-position:-100px -400px;}
.errorA{ background-position:-50px -150px;}
.errorB{ background-position:-50px -450px;}
/*弹窗*/
.popoutContent{background:#ffffff;border:1px solid #bbbbbb;}
.bgcorner1,.bgcorner2,.bgcorner3,.bgcorner4,.pobg1,.pobg2,.pobg3,.pobg4{filter:Alpha(opacity=39);_filter:Alpha(opacity=39);opacity:.39;overflow:hidden;z-index:1005;line-height:0 }
.bgcorner1,.bgcorner2,.bgcorner3,.bgcorner4{width:5px;height:5px;background:#bbbbbb;}
.pobg1,.pobg2,.pobg3,.pobg4{ background:#bbbbbb;}
.pobg1{height:5px; }
.pobg2{width:5px;}
.pobg3{height:5px;}
.pobg4{width:5px;}
.popTop{padding:5px 10px 4px;font-weight:700;font-size:14px;color:#333;border-bottom:1px solid #d9e5f2;background:#eaf2fa;height:21px;_height:16px;}
.popTop select,.popTop input{ font-size:12px;}
.popBottom{padding:5px 10px;background:#f7f7f7;border-top:1px solid #e4e4e4;text-align:center;}
.popCont{padding:30px 50px;line-height:2;color:#333; text-align:center;}
.popTop .adel{margin-top:4px;}
.popTop ul{margin:1px 0 -4px -1px;*margin:6px 0 -5px -1px;_margin:1px 0 -5px -1px;_position:relative;height:23px;}
.popTop li{float:left;}
.popTop li a{line-height:24px;height:24px;padding:0 10px;float:left;color:#1b72af;font-size:12px; text-decoration:none; white-space:nowrap;}
.popTop li a:hover{ text-decoration:none;}
.popTop .current a{border:1px solid #d9e5f2;background:#ffffff;border-bottom:0;color:#333;}
.popoutContent table{width:100%; table-layout:fixed;}
.popoutContent th{width:80px; font-weight:100;}
.popoutContent th,.popoutContent td{padding:5px;border-top:1px solid #ebf4fc;}
.popoutContent .bgA{background:#f7fbff;}
.popoutContent label input{padding:0;margin:0 4px 3px 0;}
.popoutContent .s1{color:#ff0000;font-family:Simsun;padding:0 3px;}
/*关闭删除操作*/
.adel,.aedit,.g_photosbox .updel{background:url(del.png) 9999px 9999px no-repeat;width:12px;height:13px;text-indent:-2000em;display:block;overflow:hidden;float:right;padding:0;-webkit-transition: all 0.2s ease-out;}
.adel,.g_photosbox .updel{ background-position:0 -15px}
.adel:hover,.g_photosbox .updel:hover{ background-position:-34px -15px;}
.aedit{ background-position:0 0;}
.aedit:hover{ background-position:-34px 0;}
/*全局按钮*/
span.btn ,span.bt ,span.btn2 ,span.bt2 ,span.bts ,span.btn span ,span.bt span ,span.btn2 span ,span.bt2 span ,span.bts span{background:url(button.png) 9999px 9999px;}
span.btn ,span.bt ,span.btn2 ,span.bt2 ,span.bts {padding:0 2px 0 0;zoom: 1;display: inline-block;vertical-align: middle; cursor: pointer; _display: inline;margin:0 3px;}
span.btn button ,span.bt button ,span.btn2 button ,span.bt2 button ,span.bts button{display:block;overflow:visible;width:auto;_width:0;border:0 none;background:none;text-decoration:none;vertical-align:middle;white-space:nowrap;cursor:pointer;}
span.btn span,span.bt span,span.bts span{display: block;padding:0 11px 0 13px;*padding:0 13px 0 15px;}
span.btn button,span.bt button,span.bts button{height:27px;margin:0 -15px;padding:0 17px;line-height:27px;font-size:14px;font-weight:700;padding-bottom:4px;_padding-bottom:0px;}
span.btn2 span,span.bt2 span{display: block;padding:0 5px 0 7px;*padding:0 7px 0 9px;}
span.btn2 button,span.bt2 button{height:21px;margin:0 -9px;padding:0 10px;line-height:23px;padding-bottom:2px;_padding-bottom:0px;}
span.btn{background-position:right 0;}
span.btn span{background-position:0 0;}
span.btn2{background-position:right -60px;}
span.btn2 span{background-position:0 -60px;}
span.bt{ background-position:right -30px;}
span.bt span{ background-position:left -30px;}
span.bt2{ background-position:right -85px;}
span.bt2 span{ background-position:left -85px;}
span.bts{ background-position:right -110px;}
span.bts span{ background-position:0 -110px;}
span.btn button,span.btn2 button{color:#ffffff;}
span.bt button,span.bt2 button{color:#555555;}
span.bts button{color:#cd4604;}
/*表单*/
input{padding:0;margin:0; vertical-align:middle;}
textarea,.input,select{font:12px Arial;vertical-align:middle;border:1px solid; border-color: #999999 #e1e1e1 #e1e1e1 #999999;background:#fff;color:#000;}
textarea{padding:3px;overflow:auto;line-height:1.3;}
select{padding:1px;}
.input{padding:2px 3px;font-size:1em;}
.input:hover,.textareaA:hover,select:hover{border:1px solid #23a6dd;-webkit-box-shadow:0 0 5px #9fe3ff;-moz-box-shadow:0 0 5px #9fe3ff;box-shadow:0 0 5px #9fe3ff;}
.textareaA{width:332px;height:62px;}
.input{width:152px;}
.selectA{width:340px;}
/*下拉*/
.pw_menu{border:1px solid #a6cbe7;background:#fff; position:absolute;-webkit-box-shadow:3px 3px 0 #e4e4e4;-moz-box-shadow:3px 3px 0 #e4e4e4;box-shadow:3px 3px 0 #e4e4e4;}
/*时间控件*/
.timeSelect{padding:1px solid #fff;width:180px;color:#333;line-height:18px;}
.timeSelect .input{width:20px;margin:0 5px;}
.timeSelect table{margin-bottom:5px;}
.timeSelect td,.timeSelect th{border-right:1px solid #d9e5f2;border-bottom:1px solid #d9e5f2; text-align:center; font-weight:100; font-family:Simsun;}
.timeSelect th{background:#f7fbff;}
.timeSelect td:hover{}
.timeSelect .sun{color:#f50;}
.timeSelect .sat{border-right:0 none;color:#080;}
.timeSelect .current,.timeSelect .current:hover{background:#308cb2;color:#fff;}
.timeSelect td span{display:block;border:1px solid #fff; cursor:pointer;-webkit-transition: all 0.5s ease-out;transition: all 0.2s ease-out;}
.timeSelect td span:hover{background:#dfeaf5;}
/*select 模拟下拉*/
.selectDiv{border:1px solid; border-color: #999999 #e1e1e1 #e1e1e1 #999999;background:#fff;color:#000;padding-right:5px;outline:none;font:100 12px/1.5 Simsun;float:left}
.selectDiv h6{ font-size:12px; font-weight:100;padding:0 10px 0 5px;display:block;margin:0;background:url(icon/down.gif) no-repeat right center;cursor:default;}
.selectDiv:hover,.selectDiv:hover dl{border:1px solid #23a6dd;}
.selectDiv:hover dl{ display:block;}
.selectDiv * {-moz-user-select:none;}
.selectDiv dl{position:absolute;border:1px solid; border-color: #999999 #e1e1e1 #e1e1e1 #999999;background:#fff;margin-left:-1px;display:none;}
.selectDiv dd a{ text-decoration:none;color:#333;display:block;height:18px;padding:0 15px 0 5px;overflow:hidden;}
.selectDiv dd a:hover,.selectDiv dd.over a{background:#23a6dd;color:#fff;}
/*统一头像*/
.img_50{display:block;float:left;background:url(tips/facebg.png) no-repeat;width:54px;height:54px;}
.img_50:hover{ text-decoration:none;}
.img_50 img{width:48px;height:48px;margin:3px 0 0 3px;}
/*自适应 Nature dl 55*/
.nadlA dt{float:left;width:65px;margin-right:-65px;}
.nadlA dd,.nadlB dd{float:left;width:100%;}
.nadlA .nadlCon{margin-left:65px; position:relative;}
/*自适应 Nature dl 120*/
.nadlB dt{float:left;width:110px;margin-right:-110px;}
.nadlB .nadlCon{margin-left:120px;position:relative;}
/*相册*/
.albumbg{float:left;width:110px;height:114px;background:url(tips/albumbg.png) no-repeat;display:block;overflow:hidden;}
.albumbg img{float:left;width:100px;height:100px;margin:5px 0 0 5px;}
.albumList .nadlCon{padding:10px 0 0 5px;}
.albumList .nadlCon div{margin-bottom:3px;}
.albumList dl{margin-bottom:10px;}
/*新鲜事*/
.conFeed dl{border-bottom:1px dotted #ccc;padding:10px 2px;}
.conFeed .title{ font-size:14px;margin-bottom:5px;}
.conFeed .opera{color:#bbb; font-family:Simsun;}
.conFeed .opera a{margin:0 3px;}
.conFeed .num,.conFeed .num a{color:#999;}
/*名片*/
.popCard{width:278px;}
.popCard .popBottom{text-align:left;}
.popCard .popBottom a{margin:0 15px 0 0;padding-left:18px;display:inline-block;color:#333;}
.add_mes{ background:url(icon/mail.png) no-repeat;}
.add_fol{ background:url(icon/follow.png) no-repeat;}
.add_fri{ background:url(icon/friends.png) no-repeat;}




