<?xml version="1.0" encoding="UTF-8"?>
<WIND>
	<app isGlobal='true'>
		<name>smartyDemo</name>
		<rootPath></rootPath>
		<configPath>cache</configPath>
	</app>
	<modules>
		<module name='default'>
			<path>actionControllers</path>
		</module>
	</modules>
	<templates>
		<template>
			<dir>template</dir>
			<default>index</default>
			<ext>phtml</ext>
			<resolver>smarty</resolver>
			<isCache>false</isCache>
			<cacheDir>cache</cacheDir>
			<compileDir>compile</compileDir>
		</template>
	</templates>
</WIND>
