<?xml version="1.0" encoding="UTF-8"?>
<WIND>
	<modules>
		<module name='layout'>
			<path>actionControllers</path>
			<template>p</template>
			<controllerSuffix>controller</controllerSuffix>
			<actionSuffix>action</actionSuffix>
		</module>
		<module name="other">
			<path>otherControllers</path>
			<controllerSuffix>controller</controllerSuffix>
			<actionSuffix>action</actionSuffix>
		</module>
	</modules>
	<templates>
		<template name='p'>
			<dir>views</dir>
			<default>run</default>
			<ext>phtml</ext>
			<resolver>my</resolver>
			<isCache>false</isCache>
			<cacheDir>cache</cacheDir>
			<compileDir>compile</compileDir>
		</template>
	</templates>
	<viewerResolvers>
		<my>
			<class>WIND:core.viewer.WindViewer</class>
		</my>
	</viewerResolvers>
	<routerParsers>
		<parser name='url'>
			<rule>
				<action name='a'>run</action>
				<controller name='c'>Layout</controller>
				<module name='m'>layout</module>
			</rule>
			<class>WIND:core.router.WindUrlBasedRouter</class>
		</parser>
	</routerParsers>
</WIND>