<?xml version="1.0" encoding="UTF-8"?>
<WIND>
	<app>
		<name>ddd</name>
		<rootPath></rootPath>
		<configPath></configPath>
	</app>
	<modules>
		<module name='default'>
			<path>actionControllers</path>
			<controllerSuffix>controller</controllerSuffix>
			<actionSuffix>action</actionSuffix>
		</module>
	</modules>

	<database>
		<connections>
			<connection name='phpwind_8'>
				<driver>mysql</driver>
				<type>master</type>
				<host>localhost</host>
				<user>root</user>
				<password>suqian0512h</password>
				<port>3306</port>
				<name>phpwind_8</name>
			</connection>
			<connection name='phpwind_beta'>
				<driver>mysql</driver>
				<type>slave</type>
				<host>localhost</host>
				<user>root</user>
				<password>suqian0512h</password>
				<port>3306</port>
				<name>phpwind_beta</name>
			</connection>
			<connection name='user'>
				<driver>mssql</driver>
				<type>slave</type>
				<host>localhost</host>
				<user>sa</user>
				<password>151@suqian</password>
				<name>phpwind</name>
			</connection>
		</connections>
		<drivers>
			<driver name='mysql'>
				<builder>mysql</builder>
				<class>WIND:component.db.drivers.mysql.WindMySql</class>
			</driver>
			<driver name='mssql'>
				<builder>mssql</builder>
				<class>WIND:component.db.drivers.mssql.WindMsSql</class>
			</driver>
		</drivers>
		<builders>
			<builder name='mysql'>
				<class>WIND:component.db.drivers.mysql.WindMySqlBuilder</class>
			</builder>
			<builder name='mssql'>
				<class>WIND:component.db.drivers.mssql.WindMsSqlBuilder</class>
			</builder>
		</builders>
	</database>


</WIND>