<?xml version="1.0" encoding="UTF-8"?>
<WIND>
	<rootPath>E:/workspace_c/wind/demos</rootPath>
	<modules>
		<module name='default'>
			<path>helloworld.actionControllers</path>
			<template>front</template>
			<controllerSuffix>controller</controllerSuffix>
			<actionSuffix>action</actionSuffix>
			<method>run</method>
		</module>
	</modules>
	<templates>
		<template name='front'>
			<dir>template</dir>
			<default>index</default>
			<ext>htm</ext>
			<resolver>default</resolver>
			<isCache>false</isCache>
			<cacheDir>cache</cacheDir>
			<compileDir>compile</compileDir>
		</template>
	</templates>
</WIND>