<br />
<a href='{$url}1'>&lt;&lt;</a>&nbsp;
<!--{for ($i = $page - 3; $i <= $page - 1; $i++) :}-->
	<!--{if ($i == 1) :}-->
<a href='{$url}1'>&nbsp;$i&nbsp;</a>
	<!--{elseif ($i > 1) :}-->
<a href='{$url}$i'>&nbsp;$i&nbsp;</a>
	<!--{endif;}-->
<!--{endfor;}-->
&nbsp;<b>$page</b>&nbsp;
<!--{if ($page < $Total) :}-->
	<!--{$flag = 0;}-->
	<!--{for ($i = $page + 1; $i <= $Total; $i++) :}-->
&nbsp;<a href={$url}$i>&nbsp;$i&nbsp;</a>&nbsp;
		<!--{if (++$flag == 4) break;}-->
	<!--{endfor;}-->
<!--{endif;}-->
<input type='text' size='2' style='height: 16px; border:1px solid #a6cbe7' onkeydown="javascript: if((window.event||event).keyCode==13) window.location='{$url}'+this.value+'';" />
<a href="$url$Total"> &gt;&gt;</a> &nbsp;Pages: ( $Total&nbsp;total )

<br />
	