<?xml version="1.0" encoding="UTF-8"?>
<WIND>
	<app isGlobal='true'>
		<name>templateApp</name>
		<rootPath></rootPath>
		<configPath>templateApp:cache</configPath>
	</app>
	<modules>
		<module name='module1'>
			<path>module1Controllers</path>
			<template>module1</template>
			<controllerSuffix>controller</controllerSuffix>
			<actionSuffix>action</actionSuffix>
		</module>
		<module name="module2">
			<path>module2Controllers</path>
			<template>module2</template>
			<controllerSuffix>controller</controllerSuffix>
			<actionSuffix>action</actionSuffix>
		</module>
	</modules>
	<templates>
		<template name='module1'>
			<dir>template.module1</dir>
			<default>index</default>
			<ext>phtml</ext>
			<resolver>default</resolver>
			<isCache>false</isCache>
			<cacheDir>cache</cacheDir>
			<compileDir>compile</compileDir>
		</template>
		<template name='module2'>
			<dir>template.module2</dir>
			<default>index</default>
			<ext>phtml</ext>
			<resolver>default</resolver>
			<isCache>false</isCache>
			<cacheDir>cache</cacheDir>
			<compileDir>compile</compileDir>
		</template>
	</templates>
	<routerParsers>
		<parser name='url'>
			<rule>
				<action name='a'>run</action>
				<controller name='c'>Index</controller>
				<module name='m'>module1</module>
			</rule>
			<path>WIND:core.router.WindUrlBasedRouter</path>
		</parser>
	</routerParsers>
</WIND>
