<?xml version="1.0" encoding="UTF-8"?>
<WIND>
	<web-apps>
		<web-app name='formdemo' class='windWebApp' root-path=''>
			<filters class='WIND:core.filter.WindFilterChain'>
				<filter name='filter1' class='WIND:core.web.filter.WindLoggerFilter' />
			</filters>
			<router class="urlBasedRouter">
				<config>
					<url-pattern>
						<module url-param='m' default-value='default' />
						<controller url-param='c' default-value='index' />
						<action url-param='a' default-value='run' />
					</url-pattern>
				</config>
			</router>
			<modules>
				<module name='default' path='controllers'>
					<controller-suffix value='Controller' />
					<view class='windView'>
						<config>
							<template-dir value='templates' />
							<template-ext value='html' />
							<share-var value='false' />
							<is-cache value='true' />
							<cache-dir value='cache' />
							<compile-dir value='compile.template' />
						</config>
					</view>
				</module>
				<module name='other' path='otherControllers'>
					<controller-suffix value='Controller' />
					<view class='windView'>
						<config>
							<template-dir value='templates' />
							<template-ext value='html' />
							<share-var value='false' />
							<is-cache value='true' />
							<cache-dir value='cache' />
							<compile-dir value='compile.template' />
						</config>
					</view>
				</module>
			</modules>
		</web-app>
	</web-apps>
</WIND>