<?xml version="1.0" encoding="UTF-8"?>
<WIND>
	<modules>
		<module name='default'>
			<path>controllers</path>
			<controllerSuffix>controller</controllerSuffix>
			<actionSuffix>action</actionSuffix>
		</module>
		<module name='other'>
			<path>otherControllers</path>
			<controllerSuffix>controller</controllerSuffix>
			<actionSuffix>action</actionSuffix>
		</module>
	</modules>
	<filters>
		<filter name="WindFormFilter">
			<filterPath>WIND:component.form.WindFormFilter</filterPath>
		</filter>
	</filters>
	<templates>
		<template>
			<dir>templates</dir>
			<default>index</default>
			<ext>html</ext>
			<resolver>default</resolver>
			<isCache>false</isCache>
			<cacheDir>cache</cacheDir>
			<compileDir>compile</compileDir>
		</template>
	</templates>
	<extensionConfig>
		<config name='formConfig'>form_config</config>
	</extensionConfig>
</WIND>