<?xml version="1.0" encoding="UTF-8"?>
<WIND>
	<web-apps>
		<web-app name='default' class='windWebApp' root-path=''>
			<modules>
				<module name='default' path='controllers'>
					<controller-suffix value='controller' />
					<view>
						<config>
							<template-dir value='template' />
							<template-ext value='htm' />
							<is-cache value='true' />
							<cache-dir value='cache' />
							<compile-dir value='compile.template' />
						</config>
					</view>
				</module>
			</modules>
		</web-app>
	</web-apps>
</WIND>