<?xml version="1.0" encoding="UTF-8"?>
<WIND>
	<app>
		<name>HelloWorld</name>
		<rootPath></rootPath>
		<configPath></configPath>
	</app>
	<modules>
		<module name='default'>
			<path>actionControllers</path>
			<template>front</template>
		</module>
		<module name='other'>
			<path>otherControllers</path>
			<template>admin</template>
		</module>
	</modules>
	<templates>
		<template name='front'>
			<dir>front</dir>
			<default>index</default>
			<ext>htm</ext>
			<resolver>default</resolver>
			<isCache>false</isCache>
			<cacheDir>cache</cacheDir>
			<compileDir>compile</compileDir>
		</template>
		<template name='admin'>
			<dir>template</dir>
			<default>index</default>
			<ext>htm</ext>
			<resolver>default</resolver>
			<isCache>false</isCache>
			<cacheDir>cache</cacheDir>
			<compileDir>compile</compileDir>
		</template>
	</templates>
</WIND>