<div class="grid cc mb10">
	<div class="bA">
		<div class="content">
<!--#if($userInfo):#-->
			<div class="mb10 f16 b">Hi, {$userInfo->getUsername()} 欢迎您!</div>
			<div class="mb10 f14"><a href="{@WindUrlHelper::createUrl('logout')}">&rsaquo;&rsaquo;退出</a></div>
<!--#else:#-->
			<div class="mb10 f16 b">用户登录</div>
			<form name="login" action="{@WindUrlHelper::createUrl('login')}" method="post">
			<dl class="mb10">
				<dt>姓名<span class="s1">*</span></dt>
				<dd><input name="username" type="text" class="input" ></dd>
			</dl>
			<dl class="mb10">
				<dt>密码<span class="s1">*</span></dt>
				<dd><input name="password" type="text" class="input"></dd>
			</dl>
			<span class="btn" style="margin:0 0;"><span><button type="submit">提 交</button></span></span>
			<span class="bt" style="margin:0 0;"><span><button type="button"  onclick="javascript:document.location.href='{@WindUrlHelper::createUrl('reg')}';">注册</button></span></span>
			</form>
<!--#endif;#-->
		</div>
	</div>
</div>