<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>首页</title>
<link href="{@G:images}/style.css" rel="stylesheet" />
</head>
<body>
	<div class="head_wrap">
		<div class="head">
			<div class="logo"><img src="{@G:images}/logo.png"></div>
			<div class="nav">
				<ul class="cc">
					<li class="current"><a href="{@WindUrlHelper::createUrl('run')}">首页</a><em></em></li>
					<li><a href="">关于框架</a><em></em></li>
					<li><a href="">FAQ</a><em></em></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main_wrap">
		<div class="main">
			<!--#$this->content();#-->
		</div>
	</div>
	<div class="footer_wrap">
		<div class="footer">
			&copy; 2012 windframework
		</div>
	</div>
</body>
</html>