
<!--#if($userInfo):#-->
			<div class="mb10 f16 b">恭喜您,注册成功!</div>
			<div class="mb10 f14">&rsaquo;&rsaquo;<a href="{@WindUrlHelper::createUrl('run')}">返回登录</a></div>
<!--#else:#-->
<h2 class="h"><strong>用户注册</strong></h2>
<form name="reg" action="{@WindUrlHelper::createUrl('dreg')}" method="post">
			<div class="login">
			<dl>
				<dt><label>帐号</label></dt>
				<dd><input name="username" type="text" class="input" ></dd>
			</dl>
			<dl>
				<dt><label>密码</label></dt>
				<dd><input name="password" type="text" class="input"></dd>
			</dl>
			<dl>
				<dd><button type="submit">提 交</button>
				<button type="button" onclick="javascript:document.location.href='{@WindUrlHelper::createUrl('run')}';">返回登录</button></dd>
			</dl>
			</div>
			</form>
<!--#endif;#-->
