<?xml version="1.0" encoding="UTF-8"?>
<WIND>
	<!-- import external config source file -->
	<imports>
		<import name='components' resource='WIND:components_config'
			suffix='xml' init-delay='false' is-append='true' />
	</imports>
	
	<!-- web application definitions, you can define application more than one. -->
	<web-apps>
		<web-app name='AjaxDemo' class='windWebApp' root-path=''>
			<factory class-definition='components'
				class='WIND:core.factory.WindComponentFactory' />
			<filters class='WIND:core.filter.WindFilterChain'>
				<filter name='filter1' class='WIND:core.web.filter.WindLoggerFilter' />
				<filter name='filter2' class='WIND:core.web.filter.WindUrlFilter' />
			</filters>
			<router class='urlBasedRouter'>
				<config>
					<module url-param='m' default-value='default' />
					<controller url-param='c' default-value='index' />
					<action url-param='a' default-value='run' />
				</config>
			</router>
			<modules>
				<module name='default' path='ajaxController'>
					<controller-suffix value='Ajax' />
					<view class='windView'>
						<config>
							<template-dir value='templates' />
							<template-ext value='htm' />
							<share-var value='false' />
							<is-cache value='true' />
							<cache-dir value='cache' />
							<compile-dir value='compile.template' />
						</config>
					</view>
				</module>
			</modules>
		</web-app>
	</web-apps>
</WIND>