<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>ajax请求调用</title>
	<script language="javascript">
	function JSONParse(text){
		var cx = /[\u0000\u00ad\u0600-\u0604\u070f\u17b4\u17b5\u200c-\u200f\u2028-\u202f\u2060-\u206f\ufeff\ufff0-\uffff]/g;
		var j;
		if (cx.test(text)) {
			text = text.replace(cx, function (a) {
				return '\\u' + ('0000' + a.charCodeAt(0).toString(16)).slice(-4);
			});
		}
		if (/^[\],:{}\s]*$/.
	test(text.replace(/\\(?:["\\\/bfnrt]|u[0-9a-fA-F]{4})/g, '@').
	replace(/"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g, ']').
	replace(/(?:^|:|,)(?:\s*\[)+/g, ''))) {
			j = eval('(' + text + ')');
			return j;
		}
		alert('数据格式错误，无法解析');
	}
	function ajaxFunction()
	 {
		 var xmlHttp;
		 try {
		   // Firefox, Opera 8.0+, Safari
		    xmlHttp=new XMLHttpRequest();
		 } catch (e) {
		  // Internet Explorer
		   try {
		      xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		   } catch (e) {
		      try {
		         xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
		      } catch (e) {
		         alert("您的浏览器不支持AJAX！");
		         return false;
		      }
		   }
		 }
		 return xmlHttp;
	 }
	 function getDataByJson() {
		 var xmlHttp = ajaxFunction();
		 url = 'index.php?a=getJson&t=' + Math.random();
		 xmlHttp.open("GET", url, true);
		 xmlHttp.send(null);
		 xmlHttp.onreadystatechange = function()
		  {
			 if (xmlHttp.readyState == 4) {
				 var data = JSONParse(xmlHttp.responseText);
				 var str = data[0] + '<br/>' + data[1];
			     document.getElementById('inner').innerHTML = str;
			 }
		  }
	 }
	 function getTimeByInput() {
		 var xmlHttp = ajaxFunction();
		 url = 'index.php?a=getTimeByInput&t=' + Math.random();
		 xmlHttp.open("GET", url, true);
		 xmlHttp.send(null);
		 xmlHttp.onreadystatechange = function()
		  {
			 if (xmlHttp.readyState == 4) {
			     document.myForm.time.value = xmlHttp.responseText;
			 }
		  }
	 }
	 getDataByJson();
	</script>
</head>

<body>
<p id='inner'></p>
<form name="myForm">
	用户: <input type="text" name="username"  onkeyup="getTimeByInput();" />
	时间: <input type="text" name="time" />
</form>
</body>