<?php $this->doAction('setHeader', 'controllers.indexController');?>
<div id="mainContent">
<p><center>错误控制模板输出</center></p>
<p>
<form action="index.php?c=form&a=postForm" method="post">
请再次输入你的用户名<input type="text" value="" name="username"/><span style="color:red"><?php echo $usernameError;?></span><br/>
请再次输入你的密码<input type="password" value="" name="password"/><span style="color:red"><?php echo $passwordError;?></span><br/>
<input type="submit" value="提交" name="submit"/>
</form>
</p>

</div>
<?php $this->doAction('setFooter', 'controllers.indexController');?>