<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $title;?></title>
<link href="templates/css/form.css" rel="stylesheet" />
</head>
<body class="twoColLiqRtHdr">
<div id="container">
  <div id="header">
	<h1><b style="font-size: 20px"><?php echo $name;?></b>----欢迎您的光临！</h1>
	<h2><?php echo $global;?></h2>
	<hr></hr>
	<p>
		<h3>WindFrameWork </h3>
		<p><b>其他demo:</b><br/>
		<?php foreach ( $demos as $path => $describe) { ?>
		   <li><a href="../<?php echo $path;?>" target="_blank" title="我要测试"><?php echo $describe;?></a></li><br/>
		<?php }?>
		</p>
		<p align="right"><a href="index.php"><<返回首页</a></p>
	</p>
  </div>
  	
  
	
  
