<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>form测试</title>
<link href="templates/css/form.css" rel="stylesheet" />
<!--[if IE]>
<style type="text/css"> 
/* 请将所有版本的 IE 的 css 修复放在这个条件注释中 */
.twoColLiqRtHdr #sidebar1 { padding-top: 30px; }
.twoColLiqRtHdr #mainContent { zoom: 1; padding-top: 15px; }
/* 上面的专用 zoom 属性为 IE 提供避免错误所需的 hasLayout */
</style>
<![endif]-->
</head>
<body class="twoColLiqRtHdr">
<div id="container">
  <div id="header">
	<h1><b style="font-size: 20px"><?php echo $name;?></b>----欢迎您的光临！</h1>
	<h2><?php echo $global;?></h2>
  </div>
  <!-- end #header -->
  <div id="sidebar1">
  	<img src="templates/images/1.gif" />
	<h3>WindFrameWork </h3>
	<p><b>其他demo:</b><br/>
	   1、<a href="../helloworld" target="_blank" title="我要测试">HelloWorld</a><br/>
	   2、<a href="../smartyapp" target="_blank" title="我要测试">Smarty模板引擎接入</a><br/>
	</p>
	<p align="right"><a href="index.php"><<返回首页</a></p>
  </div>
  <!-- end #sidebar1 -->
  
	
  
