<action action='setHeader' controller="index"/>
<div class="main">
	<div class="grid_2 cc mb10">
		<div class="cm">
			<div class="cw">
				<div class="bA">
					<div class="content">
						<h1>本次测试Demo说明</h1>
						<div class="read_info">
							<span class="mr10">最新更新时间：2010-12-21</span>作者：肖
						</div>
				        <div>
							<h3>1、表单验证: 采用表单和controller绑定的方式，一一对应：</h3>
							<h4>使用方式：</h4>
							<ol>
								<li>步骤一：继承表单controller（WindFormController）
								    <div class="s4">代码：</div>
									<textarea style="width:95%;height:80px;" class="mb5">
L::import("WIND:core.web.WindFormController");
class FormController extends WindFormController {}
									</textarea>
								</li>
								<li>步骤二：实现该重写属性formClass，指定到自己的form类
									<div class="s4">代码：</div>
									<textarea style="width:95%;height:80px;" class="mb5">
L::import("WIND:core.web.WindFormController");
class FormController extends WindFormController {
	protected formClass = "FORMDEMO:controllers.actionForm.UserForm";}
									</textarea>
								</li>
								<li>步骤三：form类的编写。<br/>
								    <b>注意:</b><br/>
								         Ⅰ、需要继承WindEnableValidateModule<br/>
								         Ⅱ、可以重写属性：<br/>
		<span style="margin-left:20px">_validatorClass ：验证器类&nbsp;&nbsp;&nbsp;&nbsp;(默认为框架提供的component/utility/WindValidator.php)</span><br/>
		<span style="margin-left:20px">errorController： 验证出错时处理的errorController&nbsp;&nbsp;&nbsp;&nbsp;(默认为框架提供的WindErrorHandler)</span><br/>
		<span style="margin-left:20px">errorAction： 验证出错时处理的的ErrorAction&nbsp;&nbsp;&nbsp;&nbsp;(默认为run)</span><br/>
								        Ⅲ、需要实现方法：validateRules<br/>
									<span style="margin-left:20px">该方法需要返回一个数组，该数组中指定了验证规则，</span><br/>
									<span style="margin-left:20px">验证规则的建立统一由框架的component/utility/WindUtility.php中的buildValidateRule提供。</span><br/>
								        Ⅳ、对于该form类中编写的变量，都必需提供公共可以访问的setter和getter方法
								</li>
								<li>步骤四：结果处理：<br/>
								<span style="margin-left:20px">对于验证通过的时候，则可以在controller中通过，this->getInput('formData')来获得验证后的类对象。</span><br/>
                                <span style="margin-left:20px">如果验证不通过，则会跳转到form中指定的ErrorAcion中处理输出。</span></li>
                                <div class="mb10"><span class="bt2" style="margin:0 0;"><span><button type="button" onclick="javascript:location.href='index.php?c=Form&username=xxx&password=123456'">测试一下</button></span></span></div>
							</ol><br/>
							
							<h4>案例2：通用的action验证</h4>
							<ol>
								<li>步骤一： 普通的继承WindController<br/>
     	        				    <b>注意:</b><br/>
							        Ⅰ、可重写属性validatorClass<br/>
			<span style="margin-left:20px">该属性用与指定验证器。(默认为框架提供的component/utility/WindValidator.php)</span><br/>
  									Ⅱ、重写validatorFormRule：<br/>
			<span style="margin-left:20px">该方法用于提供用户指定哪些方法需要提供验证的机制</span><br/>
            <span style="margin-left:20px">返回类型为array, 以方法为键，以方法中的验证规则数组值，同样的验证规则的组装也统一通过框架提供的接</span><br/><span style="margin-left:20px">口：
    component/utility/WindUtility.php中的buildValidateRule来完成。</span><br/>
								    Ⅲ、用户可以在beforeAction中指定errorMessage属性值，用于处理当验证不通过时处理情况。<br/>
							     </li>
								 <li>步骤二：结果获得<br/>
								 <span style="margin-left:20px">对于验证通过，则可以在controller中通过this->getInput('inputData')来获得一个stdClass对象的合法数据</span><br/>
                                <span style="margin-left:20px">对应验证不通过的，则会跳转到beforeAction中指定的errorMessage来处理，缺省的情况下为框架默认的错误机制</span></li>
								<div class="s4">代码：</div>
								<textarea style="width:95%;height:80px;" class="mb5">var_dump(this->getInput('inputData'));</textarea>
                                <div class="mb10"><span class="bt2" style="margin:0 0;"><span><button type="button" onclick="javascript:location.href='index.php?c=NormalForm'">测试一下</button></span></span></div>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sd">
			<div class="bB mb10">
				<h2 class="hdB">tags</h2>
				<div class="p10">
					<ul class="tags cc">
						<li><a href="index.php?c=Form&username=xxx&password=123456">案例一测试</a></li>
						<li><a href="index.php?c=NormalForm">案例二测试</a></li>
					</ul>
				</div>
			</div>
			<div class="bB">
				<h2 class="hdB">WindFrameWork其他demo:</h2>
				<div class="p10">
					<ul><!--#foreach ($this->response->getData('header', 'demos') as $path => $describe) {#-->
						<li><a href="{$path;}" target="_blank" title="我要测试">{$describe}</a></li>
					<?php }?>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end #mainContent -->
<action action='setFooter' controller="index"/>
