<div id="footer">
	<div class="footer">
		<ul class="bottom">
			<li><a href="#header">顶部</a> | </li>
			<?php foreach ($this->getVar('demos', 'header') as $path => $describe) { ?>
					<li><a href="<?php echo $path;?>" target="_blank" title="我要测试"><?php echo $describe;?></a> | </li>
			<?php }?>
			<li><a href="#header">顶部</a></li>
		</ul>
	    <br/>
	    <p class="f10">共执行时间：<?php echo $excuceTime;?>; 
	    			        加载文件个数:<?php echo $includeFileNum;?>;
	    			       占用内存：<?php echo $memory;?>MB</p>
		<p class="f10">Powered by <?php echo $version;?> Certificate Code &copy; <?php echo "{$footer[0]}{$footer[1]}"; ?>  Corporation </p>
	</div>
</div>
<!-- end #footer -->
</div>
</body>
</html>
</div>
</body>
</html>